$$UNIVERSIDAD\hspace{1mm} AUTÓNOMA\hspace{1mm} DE\hspace{1mm} NUEVO\hspace{1mm} LEÓN $$$$Facultad\hspace{1mm}  de\hspace {1mm}Ciencias\hspace{1mm} Físico-Matemáticas $$$$Python\hspace{1mm}  Básico
$$$$Mineria\hspace{1mm}de\hspace{1mm}Datos$$ $$\hspace{1mm}$$$$Pilar\hspace{1mm} Abigail\hspace{1mm} Mendoza\hspace{1mm} Alvarez$$$$Matricula:\hspace{1mm}1815973$$

#### Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [4]:
matricula = 1815973
nombre='Abigail'
print("Mi nombre es", nombre, "y mi matricula es " +str(matricula))

Mi nombre es Abigail y mi matricula es 1815973

#### Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [5]:
#RECUERDE QUE ES IMPORTANTE INTRODUCIR UN NUMERO ENTERO. 
#DE OTRA FORMA LE APARECERA UN ERROR

n1 = float(input("Introduce el primer numero:    "))
n2 = float(input("Introduce el segundo numero numero:    "))

Introduce el primer numero:    3
Introduce el segundo numero numero:    4

In [6]:
#Favor de correr esta celda , de lo contrario no se podra realizar ninguna operación

def Suma(no1,no2):
    s = no1 + no2
    return s

def Resta(no1,no2):
    r = no1-no2
    return r

def Multiplicacion(no1,no2):
    m = no1 * no2
    return m

def Division(no1, no2):
    d = no1/no2
    return d

def Potencia(no1,no2):
    p = no1 ** no2
    return p

In [8]:
# !!!!! INTRODUCIR FORZOZAMENTE EL TIPO DE VARIABLE QUE LE PROPORCIONA EL TEXTO SI NO LO HACE  EL SISTEMA FALLARA : numeros.-flotantes o enteros, texto.- letras o letra NO NUMEROS
OP = input("Dependiendo de la operación que quiera realizar deberá escoger entre las siguientes opciones opciones. S: Para suma, R: Para resta, M: Para multiplicación, D: para división y por ultimo, E: para elevar a un exponente:       ")
if OP == 'S' :
    resultado = Suma(n1,n2)
    print("")
    print("")
    print("El resultado de la suma de ", n1, "y", n2, "es:" ,resultado)
    
else :
    if OP == 'R':
        resultado = Resta(n1,n2)
        print("")
        print("")
        print("El resultado de la Resta de ", n1, "y", n2, "es:" ,resultado)
        print("RECUERDE QUE ESTA RESTA SE HIZO CON EL PRIMER NUMERO QUE INTRODUJO MENOS EL SEGUNDO NUMERO QUE INTRODUJO, SI QUIERE INVERTIR ESE ORDEN CORRA DE NUEVO LA CELDA DONDE INTRODUJO LOS DATOS Y PONGALOS EN ORDEN CONTRARIO, ACTO SEGUIDO VUELVA A CORRER ESTE CELDA")
    
    else:
        if OP == 'M':
            resultado = Multiplicacion(n1,n2)
            print("")
            print("")
            print("El resultado de la Multiplicación de ", n1, "y", n2, "es:" ,resultado)
        
        else:
            if OP == 'D':
                resultado = Division(n1,n2)
                print("")
                print("")
                print("El resultado de la División de ", n1, "entre", n2, "es:" ,resultado)
                print("RECUERDE QUE ESTA DIVISIÓN SE HIZO CON EL PRIMER NUMERO QUE INTRODUJO ENTRE EL SEGUNDO NUMERO QUE INTRODUJO, SI QUIERE INVERTIR ESE ORDEN CORRA DE NUEVO LA CELDA DONDE INTRODUJO LOS DATOS Y PONGALOS EN ORDEN CONTRARIO, ACTO SEGUIDO VUELVA A CORRER ESTE CELDA")
            
            else:
                if OP == 'E':
                    resultado = Potencia(n1,n2)
                    print("")
                    print("")
                    print("El resultado de elevar ", n1, "al exponente", n2, "es:" ,resultado)
                    print("RECUERDE QUE ESTA POTENCIA O EXPONENTE SE HIZO CON EL PRIMER NUMERO QUE INTRODUJO ELEVADO AL SEGUNDO NUMERO QUE INTRODUJO, SI QUIERE INVERTIR ESE ORDEN CORRA DE NUEVO LA CELDA DONDE INTRODUJO LOS DATOS Y PONGALOS EN ORDEN CONTRARIO,ACTO SEGUIDO VUELVA A CORRER ESTE CELDA ")
                
                else:
                    print("")
                    print("")
                    print("HA HABIDO UN ERROR EN CUANTO AL COMANDO DE LA OPERACIÓN QUE INTRODUJO YA QUE ESE COMANDO NO EXISTE, DEBE INTRODUCIR EN MAYUSCULAS UNA DE LAS LETRAS YA PROPORCIONADAS EN LA INTRUCCIÓN (S,R,M,D,E) PARA QUE SE PUEDA REALIZAR DE FORMA CORRECTA LA OPERACIÓN DESEADA. DE OTRA FORMA MARCARÁ ESTE ERROR. FAVOR DE CORRER DE NUEVO ESTA CELDA E INTRODUZCA CORRECTAMENTE EL COMANDO DE LA OPERACIÓN QUE DESEE HACER")

Dependiendo de la operación que quiera realizar deberá escoger entre las siguientes opciones opciones. S: Para suma, R: Para resta, M: Para multiplicación, D: para división y por ultimo, E: para elevar a un exponente:       q


HA HABIDO UN ERROR EN CUANTO AL COMANDO DE LA OPERACIÓN QUE INTRODUJO YA QUE ESE COMANDO NO EXISTE, DEBE INTRODUCIR EN MAYUSCULAS UNA DE LAS LETRAS YA PROPORCIONADAS EN LA INTRUCCIÓN (S,R,M,D,E) PARA QUE SE PUEDA REALIZAR DE FORMA CORRECTA LA OPERACIÓN DESEADA. DE OTRA FORMA MARCARÁ ESTE ERROR. FAVOR DE CORRER DE NUEVO ESTA CELDA E INTRODUZCA CORRECTAMENTE EL COMANDO DE LA OPERACIÓN QUE DESEE HACER

#### Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [9]:
#Aqui por cuestiones de que no me queda clara la instruccion pedire un numero del cual partire para hacer la lista, ya que no especifica de donde partir 

#se define la lista
arrm3=[]

#Se pide un numero cualquiera entero ya que debe ser entero para ser multirplo de cualquier otro entero
m3 = 5

for i in range (0,10):
    datoi = (m3+i)*3
    arrm3.append(datoi)
    
print(arrm3)

[15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [10]:
#SE DEBE INTRODUCIR UN ARREGLO 
import numpy as np
def SUMAARRM3(arr):
    arregloM3=np.array(arr)
    resp=sum(arregloM3)
    return resp

In [11]:
respm3=SUMAARRM3(arrm3)
print("La suma de los elementos del arreglo es:", respm3)

La suma de los elementos del arreglo es: 285

#### Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [12]:
Npar = int (input("Introduzca el numero que desee verificar si es par: "))
Nprimo = int (input("Introduzca el numero que desee verificar si es primo: "))

#si es par el residuo de dividir el numero entre dos debe dar 0, si no es impar
if Npar % 2 == 0:
    print("El numero ", Npar, " si es par")
else:
    print("El numero ", Npar, " es impar")

divisores = 0
#Esta variable la vamos a usar para contar los divisores del número 
for j in (1, Nprimo):
    if Nprimo % j == 0:
        divisores = divisores + 1

#Todos los numeros tienen al menos un divisor que es 1, si hay más divisores entonces es primo 
if(divisores >= 2):
    print("El numero ", Nprimo, " si es primo")
else:
    print("El numero ", Nprimo, " no es primo")

Introduzca el numero que desee verificar si es par: 24
Introduzca el numero que desee verificar si es primo: 15
El numero  24  si es par
El numero  15  si es primo

#### Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [14]:
# !!!!! INTRODUCIR FORZOZAMENTE EL TIPO DE VARIABLE QUE LE PROPORCIONA EL TEXTO SI NO LO HACE  EL SISTEMA FALLARA : numeros.-flotantes o enteros, texto.- letras o letra NO NUMEROS
num1 = float(input("Introduzca el primer numero:    "))
num2 = float(input("Introduzca el segundo numero:    "))

suma=num1+num2
resta=num1-num2
multiplicacion=num1*num2
division=num1/num2
exponente=num1**num2

#To: Tipo de operacion
To= input("Dependiendo de la operación que quiera realizar deberá escoger entre las siguientes opciones opciones. s: Para suma, r: Para resta, m: Para multiplicación, d: para división y por ultimo, e: para elevar a un exponente:      ")
if To == 's' :
    print("")
    print("")
    print("El resultado de la suma de ", num1, "y", num2, "es:" ,suma)
    
else :
    if To == 'r':
        print("")
        print("")
        print("El resultado de la Resta de ", num1, "y", num2, "es:" ,resta)
        print("RECUERDE QUE ESTA RESTA SE HIZO CON EL PRIMER NUMERO QUE INTRODUJO MENOS EL SEGUNDO NUMERO QUE INTRODUJO, SI QUIERE INVERTIR ESE ORDEN CORRA DE NUEVO LA CELDA DONDE INTRODUJO LOS DATOS Y PONGALOS EN ORDEN CONTRARIO, ACTO SEGUIDO VUELVA A CORRER ESTE CELDA")
    
    else:
        if To == 'm':
            print("")
            print("")
            print("El resultado de la Multiplicación de ", num1, "y", num2, "es:" ,multiplicacion)
        
        else:
            if To == 'd':
                print("")
                print("")
                print("El resultado de la División de ", num1, "entre", num2, "es:" ,division)
                print("RECUERDE QUE ESTA DIVISIÓN SE HIZO CON EL PRIMER NUMERO QUE INTRODUJO ENTRE EL SEGUNDO NUMERO QUE INTRODUJO, SI QUIERE INVERTIR ESE ORDEN CORRA DE NUEVO LA CELDA DONDE INTRODUJO LOS DATOS Y PONGALOS EN ORDEN CONTRARIO, ACTO SEGUIDO VUELVA A CORRER ESTE CELDA")
            
            else:
                if To == 'e':
                    print("")
                    print("")
                    print("El resultado de elevar ", num1, "al exponente", num2, "es:" ,exponente)
                    print("RECUERDE QUE ESTA POTENCIA O EXPONENTE SE HIZO CON EL PRIMER NUMERO QUE INTRODUJO ELEVADO AL SEGUNDO NUMERO QUE INTRODUJO, SI QUIERE INVERTIR ESE ORDEN CORRA DE NUEVO LA CELDA DONDE INTRODUJO LOS DATOS Y PONGALOS EN ORDEN CONTRARIO,ACTO SEGUIDO VUELVA A CORRER ESTE CELDA ")
                
                else:
                    print("")
                    print("")
                    print("HA HABIDO UN ERROR EN CUANTO AL COMANDO DE LA OPERACIÓN QUE INTRODUJO YA QUE ESE COMANDO NO EXISTE, DEBE INTRODUCIR EN MINUSCULAS UNA DE LAS PALABRAS YA PROPORCIONADAS EN LA INTRUCCIÓN (suma,resta,multiplicacion,division,exponente) PARA QUE SE PUEDA REALIZAR DE FORMA CORRECTA LA OPERACIÓN DESEADA. DE OTRA FORMA MARCARÁ ESTE ERROR. FAVOR DE CORRER DE NUEVO ESTA CELDA E INTRODUZCA CORRECTAMENTE EL COMANDO DE LA OPERACIÓN QUE DESEE HACER")

Introduzca el primer numero:    31
Introduzca el segundo numero:    2
Dependiendo de la operación que quiera realizar deberá escoger entre las siguientes opciones opciones. s: Para suma, r: Para resta, m: Para multiplicación, d: para división y por ultimo, e: para elevar a un exponente:      m


El resultado de la Multiplicación de  31.0 y 2.0 es: 62.0

### Ejercicios con estructuras básicas de python.
#### Tuplas
- Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [15]:
#Se eligen variables a mi criterio 
Flotante = 0.25
Entero = 58
Boleano = True
Complejo = 3 + 20j
print("La variable ",Flotante," es de tipo: ", type (Flotante))
print("La variable ",Entero," es de tipo: ", type (Entero))
print("La variable ",Boleano," es de tipo: ", type (Boleano))
print("La variable ",Complejo," es de tipo: ", type (Complejo))

La variable  0.25  es de tipo:  <class 'float'>
La variable  58  es de tipo:  <class 'int'>
La variable  True  es de tipo:  <class 'bool'>
La variable  (3+20j)  es de tipo:  <class 'complex'>

- Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [16]:
#tupla de 5
tupla =[2,6,10, 12]
print("El primer valor de la tupla es:", tupla[0])
#verificar la longitud de la tupla para verificar el numero de elementos de la tupla y se quita un valor porque empieza desde 0 los lugares en las tuplas
n=len(tupla) - 1
print("El ultimo valor valor de la tupla es:",tupla[n])

El primer valor de la tupla es: 2
El ultimo valor valor de la tupla es: 12

In [17]:
tuplastring = ['uno', 'dos']
tuplanueva=tupla + tuplastring
tuplanueva

[2, 6, 10, 12, 'uno', 'dos']

- Verificar si una variable existe dentro de la tupla

In [22]:
#Si se desea buscar alguna variable en especifico: cambiar 'un' por una palabra o un numero. Si es numero sin comillas y si es una palaabra con comillas ''  
'uno' in tuplanueva

True

#### Listas
- Crear una lista con 40 elementos aleatorios enteros.

In [23]:
import random as r

lista=[r.randint(1,500)]

for k in range(1,40):
    listaaux = r.randint(1,500)
    lista.append(listaaux)
  
    
nlista=len(lista)
print("Una lista de", nlista, "elementos es: ", lista)

Una lista de 40 elementos es:  [79, 174, 339, 286, 144, 190, 431, 112, 492, 355, 392, 425, 269, 249, 97, 285, 302, 74, 412, 31, 31, 28, 253, 271, 198, 71, 468, 185, 158, 196, 160, 390, 176, 370, 111, 163, 57, 185, 390, 240]

- Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [24]:
def clasificacion(listaclas):
    listapares=[]
    listaimpares=[]
    for dato in lista:
        if dato % 2 == 0:
            listapares.append(dato)
        else:
            listaimpares.append(dato)

    return listapares, listaimpares

In [25]:
par, impar = clasificacion(lista)
print("La lista de pares tiene ", len(par), "elementos es:", par)
print("La lista de impares tiene ", len(impar), "elementos es:", impar)

La lista de pares tiene  21 elementos es: [174, 286, 144, 190, 112, 492, 392, 302, 74, 412, 28, 198, 468, 158, 196, 160, 390, 176, 370, 390, 240]
La lista de impares tiene  19 elementos es: [79, 339, 431, 355, 425, 269, 249, 97, 285, 31, 31, 253, 271, 71, 185, 111, 163, 57, 185]

- Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

In [26]:
npar = len(par)
nimpar = len(impar)

print("La longitud de la lista de pares es",npar)
print("La longitud de la lista de impares es",nimpar)

La longitud de la lista de pares es 21
La longitud de la lista de impares es 19

- Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.

In [27]:
#Tome como ejemplo funciones que aparecen en este link ----> https://likegeeks.com/es/funciones-de-listas-de-python/#Unir-una-lista
par.sort()
par.reverse()
impar.sort()
print("Lista de pares ordenados es:", par)
print("Lista de impares ordenados es: ", impar)

Lista de pares ordenados es: [492, 468, 412, 392, 390, 390, 370, 302, 286, 240, 198, 196, 190, 176, 174, 160, 158, 144, 112, 74, 28]
Lista de impares ordenados es:  [31, 31, 57, 71, 79, 97, 111, 163, 185, 185, 249, 253, 269, 271, 285, 339, 355, 425, 431]

- Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [43]:
#AÑADIR UN VALOR AL FINAL DE LA LISTA
# Funcion variable_de_la_lista.append(valor añadido)
lista.append(1815973)
print(lista)

[28, 31, 31, 57, 71, 74, 79, 97, 111, 112, 144, 158, 160, 163, 174, 176, 185, 185, 190, 196, 198, 240, 249, 253, 269, 271, 285, 286, 302, 339, 355, 370, 390, 390, 392, 412, 425, 431, 468, 492, 1815973]

In [29]:
# las siguientes 3 funciones se sacaron con ayuda de: https://likegeeks.com/es/funciones-de-listas-de-python/
#se elimina el ultimo valor de la lista variable_de_la_lista.pop()
lista.pop()
print(lista)

[79, 174, 339, 286, 144, 190, 431, 112, 492, 355, 392, 425, 269, 249, 97, 285, 302, 74, 412, 31, 31, 28, 253, 271, 198, 71, 468, 185, 158, 196, 160, 390, 176, 370, 111, 163, 57, 185, 390, 240]

In [31]:
#se busca la posicion del valor dado en la lista variable_de_la_lista..index(valorbuscado)
#RECORDAR QUE en pyhton las posiciones empiezan en 0
#Si da un valor que no está se dará cuenta porque aparcera un error
print(lista.index(79))

0

In [34]:
#Se ordena de la lista de menor a mayor con variable_de_la_lista.sort()
lista.sort()
print(lista)

[28, 31, 31, 57, 71, 74, 79, 97, 111, 112, 144, 158, 160, 163, 174, 176, 185, 185, 190, 196, 198, 240, 249, 253, 269, 271, 285, 286, 302, 339, 355, 370, 390, 390, 392, 412, 425, 431, 468, 492]

#### Diccionarios 
- Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [35]:
#La información referente a diccionarios fue sacada de: https://devcode.la/tutoriales/diccionarios-en-python/
diccionario = {"Pilar": 51, "Julián": 51, "Gerardo": 23, "Gerson": 20,"Ana": 18, "Aida":20 }

- Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [36]:
edad = diccionario.values()

print("Las edades de los integrantes del diccionario en orden seria", sorted(list(edad)))

Las edades de los integrantes del diccionario en orden seria [18, 20, 20, 23, 51, 51]

- Usando el diccionario y un loop, imprimir solo los nombres.

In [37]:
ndicc=len(diccionario)

for i in diccionario:
    print(i)

Pilar
Julián
Gerardo
Gerson
Ana
Aida

- Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [38]:
diccionario ["Salma"] = 21
diccionario ["Yazmin"] = 6

print(diccionario)

{'Pilar': 51, 'Julián': 51, 'Gerardo': 23, 'Gerson': 20, 'Ana': 18, 'Aida': 20, 'Salma': 21, 'Yazmin': 6}

#### Sets
- Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [45]:
#Apoyo con información relevante a sets : https://www.w3schools.com/python/python_sets.asp
import random as r
set100 = {r.randint(1,25)}
for i in range(1,100):
    setaux = r.randint(1,25)
    set100.add(setaux)

print("El set de 100 elementos es :", set100)

El set de 100 elementos es : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

- Comprueba la longitud de tu set.

In [46]:
nset = len(set100)
print("La longitud del set es: ", nset)

La longitud del set es:  25

- Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [47]:
import random as r
lista1_10 = [r.randint(1,10)]
for j in range(1,5):
    set1_10aux = r.randint(1,10)
    lista1_10.append(set1_10aux)
print("La lista de 5 numeros aleatorios es: ",  lista1_10)    

for datolista in lista1_10:
    datoset = datolista in set100
    if datoset == True:
        print("El numero ", datolista,"de la lista también se encuentra en el set inicial")
    else :
        print("El numero ", datolista,"de la lista no se encuentra en el set inical")

La lista de 5 numeros aleatorios es:  [6, 2, 2, 2, 10]
El numero  6 de la lista también se encuentra en el set inicial
El numero  2 de la lista también se encuentra en el set inicial
El numero  2 de la lista también se encuentra en el set inicial
El numero  2 de la lista también se encuentra en el set inicial
El numero  10 de la lista también se encuentra en el set inicial